@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Regular.ttf');
}
body{
    font-family: 'Raleway', Helvetica, sans-serif;
    padding: 20px;
}
#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row; 
}
li{
    margin: 15px;
    justify-content: flex-end;
}
h1{
    font-size: 1.2em;
}
.figurine{
    height: 20px;
    width: 20px;  
}
#trouvez{

    flex-direction: row;
    width: 33%;


}
#filtres{
    width: 70%;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    
}
#populaires{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
    justify-content: space-around;
    float: right;
    width: 33%;
}
#populaireshaut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
.pop{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 5px;  
    padding: 5px; 
}
#hotelpop1{
    background: url('hotellesoleildumatin.jpg') no-repeat;
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 150px;
}
#hotelpop2{
    background: url('aucoeurdeleau.jpg') no-repeat;
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 150px;
}
#hotelpop3{
    background: url('hoteltoutbleuettoutblanc.jpg') no-repeat;
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 150px;
}
#section1{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
    padding: 15px 10px 15px 10px;
    justify-content: space-around;
}
.undersection{
    display: flex;
}
.hotels{
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 5px;  
    padding: 5px;
    width: 33%;
}
#hotel1{
    background: url('aubergelacannebiere.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel2{
    background: url('hotelduport.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel3{
    background: url('hotellesmouettes.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel4{
    background: url('hoteldelamer.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel5{
    background: url('aubergelepanier.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel6{
    background: url('hotelchezamina.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}

.hotel_description{
    height: 70px;
}

#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}
.actis{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #F2F2F2;

}
#acti1{
    background: url('vieuxport.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 380px;
}
.acti_description{
    height: 40px;
    width: 300px;
}
.section2colonne{
    display: flex;
    flex-direction: column; 
}
#acti2{
    background: url(fortdepomegues.jpg) no-repeat;
    border-radius: 20px 20px 0 0;
    height: 200px;
    width: 300px;
}
#acti3{
    background: url('iledufrioul.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 140px;
    width: 300px;
}
#acti4{
    background: url('calanques.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 380px;
}
#acti5{
    background: url('notredamedelagarde.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 170px;
    width: 300px;
}
#acti6{
    background: url('parclongchamps.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 170px;
    width: 300px;
}
footer{
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start;
    margin-top: 30px;
}
footer ul{
    list-style-type: none;
}
