@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Regular.ttf');
}
body{
    font-family: 'Raleway', Helvetica, sans-serif;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    padding: 20px;
}
#headermin{
    display: none;
}

#reservialogo{
    float: left;
}
nav{
    display: flex;
    width: 33%;
    justify-content: space-between;
    padding: 20px;
}
#navmin{
    display: none;
}

nav a{
    color: black;
    text-decoration: none; 
}

nav a:hover{
    border-top: 2px #0065fc solid;
    color: #0065fc;
    padding-top: 16px;
}

#headright{
    color: #0065fc;
    font-weight: bold;
    margin-left: 0px;
}

section{
    padding: 20px;
}

.figurine{
    height: 20px;
    width: 20px;
}

#trouvez{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#trouvezgauche{
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    width: 35px;
    text-align: center;
}
#trouvezcentre{
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
}

#ville{
    border: white;
}
#trouvezdroite{
    border: #0065fc;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    text-align: justify;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}
#rechercher{
    border: #0065fc;
    background-color: #0065fc;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
#trouvezdroitecourt{
    display: none;
    border: #0065fc;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    text-align: justify;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}
.search{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    height: 25px;
    width: 35px;

}

#filtres{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    width: 70%;
}
.bordurefiltre:hover{
    color: #0065fc;
    font-style: italic;
}
.bordurefiltre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px #F2F2F2 solid;
    border-right: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    border-radius: 50px;
    padding-right: 20px;
}

.bordurefiltre i{
    color: #0065fc;
}
#eco{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding-left: 20px;
    padding-right: 20px;
}

#familial{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding-left: 20px;
    padding-right: 20px;
}

#romantique{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding-left: 20px;
    padding-right: 20px;
}

#animaux{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding-left: 20px;
    padding-right: 20px;
}

#info{
    margin-top: 20px;
    margin-bottom: 20px;
}
#info i{
    height: 20px;
    width: 20px;
    text-align: center;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    color: #0065fc;
}
#populaires{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    float: right;
    width: 33%;
}
#populaireshaut{
    margin-left: 15px;
    margin-right: 15px;
}

#populaireshaut i{
    float: right;
}
#fleche{
    float: right;
    height: 20px;
    width: 20px;
}
.pop{
    background-color: white;
    border-radius: 20px;
    margin: 5px;  
    padding: 5px; 
    height: 150px;
}

.hotelpop_description{
    float: right;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    height: 100%;
}

#hotelpop1{
    background: url('photos/hotellesoleildumatin.jpg') no-repeat;
    border-radius: 20px 0 0 20px;
    height: 150px;
}

#hotelpop2{
    background: url('photos/aucoeurdeleau.jpg') no-repeat;
    border-radius: 20px 0 0 20px;
    height: 150px;
}
#hotelpop3{
    background: url('photos/hoteltoutbleuettoutblanc.jpg') no-repeat;
    border-radius: 20px 0 0 20px;
    height: 150px;
}

.hotelpoptext1{
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.hotelpoptext2{
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}
.stars{
    margin-top: 20%;
}

.whitestar{
    color: rgb(212, 200, 200);
}

#section1{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
    padding: 15px 10px 10px 10px;
    justify-content: space-around;

}
.undersection{
    display: flex;
}

.undersection a{
    text-decoration: none;
}
.hotels{
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 5px;  
    padding: 5px;
    width: 33%;
}
#hotel1{
    background: url('photos/aubergelacannebiere.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel2{
    background: url('photos/hotelduport.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel3{
    background: url('photos/hotellesmouettes.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel4{
    background: url('photos/hoteldelamer.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel5{
    background: url('photos/aubergelepanier.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel6{
    background: url('photos/hotelchezamina.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}

.hotel_description{
    height: 70px;
    text-decoration: none;
}

.hoteltext1{
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.hoteltext2{
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}
.gras{
    font-weight: bold;
    padding-bottom: 15px;
}

#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#section2 a{
    text-decoration: none;
}

.actis{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #F2F2F2;
    margin-bottom: 30px;

}
#acti1{
    background: url('photos/vieuxport.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 410px;
}
.acti_description{
    height: 40px;
    width: 300px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.section2colonne{
    display: flex;
    flex-direction: column; 
    
}
#acti2{
    background: url('photos/fortdepomegues.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 200px;
    width: 300px;
}
#acti3{
    background: url('photos/iledufrioul.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 140px;
    width: 300px;
}
#acti4{
    background: url('photos/calanques.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 410px;
}
#acti5{
    background: url('photos/notredamedelagarde.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 170px;
    width: 300px;
}
#acti6{
    background: url('photos/parclongchamps.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 170px;
    width: 300px;
}
footer{
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 10%;
}
footer ul{
    list-style-type: none;

}

footer li{
    margin-left: 0;
}
@media all and (max-device-width: 767px)
{
    body{
        width: auto;
        margin: auto;
    }

    #header{
        display: none;
    }

    #headermin{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        }
    #reservialogo{
        float: left;
        margin-left: 10px;
        }
        
    #headright{
        float: right;
        margin-right: 10px;
        margin-top: 15px;
        }
    nav{
        width: 100%;
    }
    nav a{
        color: black;
        text-decoration: none; 
    }
    
    nav a:hover{
        border-top: 2px #0065fc solid;
        color: #0065fc;
        padding-bottom: 16px;
    }
    #navmin{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: justify;
        width: 100%;
        padding: 15px;
    }
   
    #trouvezdroite{
        display: none;
        border: #0065fc;
        background-color: #0065fc;
        border-radius: 0px 20px 20px 0px;
        text-align: justify;
        justify-content: space-around;
        padding-left: 15px;
        padding-right: 15px;
    }

    #trouvezdroitecourt{
        display: flex;
        border: #0065fc;
        background-color: #0065fc;
        border-radius: 0px 20px 20px 0px;
        text-align: justify;
        justify-content: space-around;
        padding-left: 15px;
        padding-right: 15px;
    }

    #filtres{
        flex-direction: column;
        width: auto;
    }
    .bordurefiltre{
        justify-content: left;
        margin-bottom: 10px;
    }
    
    #populaires{
        width: 100%;
        padding: 10px;
        margin: auto;
    }
    #populaireshaut{
        text-align: left;
    }
    .pop{
        margin: auto;
        padding: 10px;
        margin-bottom: 10px;
    }
    .hotelpop_description{
        font-size: 0.7em;
    }
    .hotelpoptext1{
        max-width: 100%;
    }
    .stars{
        margin-top: 60%;
    }
    #hotelpop1{
        max-width: 50%;
    }
    #hotelpop2{
        max-width: 50%;
    }
    #hotelpop3{
        max-width: 48%;
    }
    
    #section1{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
    
    }
    .undersection{
        display: flex;
        flex-direction: column;
        width: 100%;
    
    }
    .hotels{
        width: auto;
        padding: 10px;
    }

    #hotel1{
        background: url('photos/HOTEL1.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel2{
        background: url('photos/HOTEL2.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel3{
        background: url('photos/HOTEL3.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel4{
        background: url('photos/HOTEL4.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel5{
        background: url('photos/HOTEL5.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel6{
        background: url('photos/HOTEL6.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #section2{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .section2colonne{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .actis{
        width: auto;
        padding: 10px;
    }

    #acti1{
        background: url('photos/ACTI1.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        height: 200px;
    }

    #acti2{
        background: url('photos/ACTI2.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    #acti3{
        background: url('photos/ACTI3.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    #acti4{
        background: url('photos/ACTI4.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        height: 200px;
    }

    #acti5{
        background: url('photos/ACTI5.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    #acti6{
        background: url('photos/ACTI6.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}
@media all and (min-device-width: 768px) and (max-device-width: 1023px)
{
    #header{
        width: 100%;
    }
    nav{
        margin-right: 10%;
    }
    nav a{
        padding-right: 10px;
    }

    #filtres{
        font-size: 0.9em;
    }

    aside{
        padding: 10px;
    }
    #populaires{
        width: 80%;
        justify-content: center;
        float: none;
        margin-bottom: 15px;
        padding-left: 15%;
    }
    .pop{
        width: 70%;
    }

    #section1{
        width: 90%;
        margin: 10px;
    }
    #hebergements{
        padding-left: 10px;
    }
    #section2{
        flex-wrap: wrap;
        width: auto;
    }
    #activites{
        padding-left: 20px;
    }
    .actis{
        width: auto;
    }
}

@media all and (min-device-width: 1024px) and (max-device-width: 1024px)
{
    #filtres{
        width: auto;
    }
    
    #populaires{
        width: 33%;
        float: right;
        padding-bottom: 30px;
    }
    .hotelpoptext1{
        font-size: 0.6em;
    }

    .hotelpoptext2{
        font-size: 0.6em;
    }

    .stars{
        margin-top: 40%;
    }

    #section1{
        width: 60%;
        margin: 10px;
    }
    #hebergements{
        padding-left: 10px;
    }

    .hoteltext1{
        font-size: 0.9em;
    }
    #section2{
        width: 100%;
        flex-direction: row;
        justify-content: start;
    }
    #activites{
        padding-left: 20px;
    }
    .actis{
        width: 200px;
        margin: 15px;
    }
    #acti1{
        width: 100%;
    }
    #acti2{
        width: 100%;
    }
    #acti3{
        width: 100%;
    }
    #acti4{
        width: 100%;
    }
    #acti5{
        width: 100%;
    }
    #acti6{
        width: 100%;
    }
    .acti_description{
        width: auto;
        font-size: 0.8em;
    }

}

@media all and (min-device-width: 2560px)
{
    header{
    margin: 60px 60px 0px 60px;
    }

    #reservialogo{
        height: 250px;
        width: 250px;
    }
    nav{
    font-size: 2em;
    padding-top: 80px;
    }

    #filtres{
        width: 80%;
        font-size: 1.1em;
    }
    section{
        margin: 0px 60px 60px 60px;
    }

    section header{
        font-size: 1.5em;
    }

    section a{
        font-size: 1.2em;
    }
    #populaires{
        width: 20%;
        padding: 25px 15px 25px 15px;
    }
    .pop{
        margin-bottom: 55px;
    }
    .stars{
        margin-top: 5%;
    }
    #section1{
        padding: 25px 20px 20px 20px;
    }
    #hebergements{
        margin-left: 5%;
    }
    .undersection{
        margin: 10px;
    }
    .hotels{
        width: 25%;
        margin: 35px;
    }

    #hotel1{
        background: url('photos/HOTEL1.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel2{
        background: url('photos/HOTEL2.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel3{
        background: url('photos/HOTEL3.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel4{
        background: url('photos/HOTEL4.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel5{
        background: url('photos/HOTEL5.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel6{
        background: url('photos/HOTEL6.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }
    #activites{
        margin-left: 11%;
        font-size: 1.5em;
    }
    #section2{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    footer{
        padding: 40px;
        font-size: 1.5em;
    }
}
