@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Regular.ttf');
}
body{
    font-family: 'Raleway', Helvetica, sans-serif;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    padding: 20px 0px 20px 20px;
}
#headermin{
    display: none;
}

#reservialogo{
    float: left;
}

#reservialogomin{
    float: left;
}

nav{
    display: flex;
    width: 33%;
    justify-content: space-between;
    padding: 20px;
}
#navmin{
    display: none;
}

nav a{
    color: black;
    text-decoration: none; 
}

nav a:hover{
    border-top: 2px #0065fc solid;
    color: #0065fc;
    padding-top: 35px;
}

#headerright{
    color: #0065fc;
    font-weight: bold;
    margin-left: 0px;
}

section{
    padding: 20px;
}

#sectionheaderundertitle{
    font-size: 1.1em;
}
#find{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

#findleft{
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    width: 35px;
    text-align: center;
    padding-top: 10px;
}

#findcenter{
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
}

#city{
    border: white;
    margin: 10px;
}

#searching{
    border: #0065fc;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

#searchicone{
    display: none;
}

#filters{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    width: 70%;
    margin-top: 35px;
}

#filtertitle{
    margin-top: 17px;
}
.filterborder:hover{
    color: #0065fc;
    font-style: italic;
}
.filterborder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    border-top: 2px #F2F2F2 solid;
    border-right: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    border-radius: 50px;
    padding-right: 20px;
}

.filtertext{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.filterborder i{
    color: #0065fc;
}
.filtericone{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

#info{
    margin-top: 20px;
    margin-bottom: 20px;
}
#info i{
    height: 20px;
    width: 20px;
    text-align: center;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    color: #0065fc;
}
#asideblock{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    float: right;
    width: 33%;
}
#asidetitle{
    margin-left: 15px;
    margin-right: 15px;
}

#chartline{
    float: right;
    font-size: 1.5em;
}

.asideelement{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #e9e6e6;
    margin: 5px 5px 15px 5px;  
    padding: 5px; 
    height: 150px;
}

.asideelementdescription{
    float: right;
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 1.1em;
    height: 100%;
}

.asidephoto img{
    float: left;
    height: 150px;
    width: 50%;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}

.asideelementtext1{
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.asideelementtext2{
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}
.stars{
    margin-top: 15%;
}

.whitestar{
    color: rgb(212, 200, 200);
}

#section1{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
    padding: 10px 10px 5px 10px;
    justify-content: space-around;

}
.undersection{
    display: flex;
    padding-bottom: 18px;
}

.undersection a{
    text-decoration: none;
}
.section1element{
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #e9e6e6;
    margin: 5px;  
    padding: 5px;
    width: 30%;
}
.section1photo img{
    height: 150px;
    width: auto;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.section1elementdescription{
    height: 70px;
    text-decoration: none;
}

.section1elementtext1{
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.section1elementtext2{
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}
.section1bottom{
    font-weight: bold;
    padding-top: 15px;
}

#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#section2 a{
    text-decoration: none;
}

.section2element{
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #F2F2F2;
    margin: 10px;
    padding: 5px;
}

.section2column{
    display: flex;
    flex-direction: column;
}

.section2element2{
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #F2F2F2;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
}

.section2photoa img{
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 470px;
    overflow: hidden;
}

.section2photob img{
    border-radius: 20px 20px 0 0;
    width: 280px;
    height: 200px;
    overflow: hidden;
}

.section2elementdescription{
    height: 40px;
    width: auto;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    justify-content: space-between;
    padding-top: 50px;
}

.footertitle{
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 40px;
}

.footerelement{
    margin-right: 15%;
}
footer li{
    list-style-type: none;
}


@media all and (max-width: 320px)
{
    body{
        width: 100%;
        margin: 0px;
    }

    #header{
        display: none;
    }

    #headermin{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 5px;
        }

    #reservialogomin{
        float: left;
        margin-left: 0px;
        margin-right: 100px;
        }
        
    #headerright{
        float: right;
        margin-right: 20px;
        padding-top: 25px;
        }

    #headerrightmin{
        color: #0065fc;
        font-weight: bold;
        margin-top: 15px;
    }

    nav{
        width: 100%;
        padding: 0px;
        border-bottom: 2px #F2F2F2 solid;
        padding-bottom: 16px;
        padding-top: 20px;
    }

    #navmin{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
        padding: 30px;
    }

    #navmintext1{
        width: 100%;
        padding: 25px;
    }

    nav a{
        color: black;
        text-decoration: none; 
    }
    
    nav a:hover{
        border-bottom: 2px #0065fc solid;
        border-top: 0px;
        color: #0065fc;
        padding-bottom: 16px;
    }

    section H1{
        font-size: 1.1em;
    }

    #sectionheaderundertitle{
        font-size: 0.9em;
    }
  
    #findleft{
        padding: 20px;
        width: 30px;
    }

    #findcenter{
        width: 50%;
    }

    #searching{
        display: none;
        border: #0065fc;
        background-color: #0065fc;
        border-radius: 0px 20px 20px 0px;
        font-size: 1.2em;
        font-weight: bold;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #searchicone{
        display: inline;
        border: #0065fc;
        background-color: #0065fc;
        border-radius: 20px 20px 20px 20px;
        font-size: 1em;
        font-weight: bold;
        color: white;
        height: 35px;
        width: 35px;
        padding: 15px;
    }

    #filters{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    #filtertitle{
        padding-bottom: 15px;
    }

    .filterborder{
        justify-content: left;
        margin-bottom: 10px;
    }
    
    #asideblock{
        width: 95%;
        padding: 10px;
        justify-content: center;
        float: none;
    }
    aside H2{
        font-size: 1em;
        padding-bottom: 20px;
    }
   
    .asideelement{
        margin: auto;
        padding: 10px;
        margin-bottom: 10px;
    }

    .asideelementdescription{
        font-size: 0.7em;
        width: 45%;
        padding-left: 10px;
    }
    .asideelementtext1{
        max-width: 90%;
        padding-left: 5px;
    }
    .asideelementtext2{
        max-width: 90%;
        padding-left: 5px;
    }
    .stars{
        margin-top: 55%;
        padding-left: 5px;
    }

    section H2{
        font-size: 1.1em;
        padding-left: 15px;
    }
    #section1{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
    }
    .undersection{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 0px;
    
    }
    .section1element{
        width: auto;
        padding: 10px;
    }

    #section2{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }

    .section2element img{
        width: 270px;
        height: 230px;
    }

    .section2column img{
        width: 270px;
        height: 230px;
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 25px 0 0 0;
    }

    footer ul{
        font-size: 0.9em;
    }
}

@media all and (min-width: 321px) and (max-width: 767px)
{
    body{
        width: 100%;
        margin: 0px;
    }

    #header{
        display: none;
    }

    #headermin{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 5px;
        }

    #reservialogomin{
        float: left;
        margin-left: 0px;
        margin-right: 100px;
        }
        
    #headerright{
        float: right;
        margin-right: 20px;
        padding-top: 25px;
        }

    #headerrightmin{
        color: #0065fc;
        font-weight: bold;
        margin-top: 15px;
    }

    nav{
        width: 100%;
        padding: 0px;
        border-bottom: 2px #F2F2F2 solid;
        padding-bottom: 16px;
        padding-top: 20px;
    }

    #navmin{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
        padding: 30px;
    }

    #navmintext1{
        width: 100%;
        padding: 25px;
    }

    nav a{
        color: black;
        text-decoration: none; 
    }
    
    nav a:hover{
        border-bottom: 2px #0065fc solid;
        border-top: 0px;
        color: #0065fc;
        padding-bottom: 16px;
    }

    section H1{
        font-size: 1.1em;
    }

    #sectionheaderundertitle{
        font-size: 0.9em;
    }
  
    #findleft{
        padding: 20px;
    }

    #city{
        padding-top: 15px;
    }

    #searching{
        display: none;
        border: #0065fc;
        background-color: #0065fc;
        border-radius: 0px 20px 20px 0px;
        font-size: 1.2em;
        font-weight: bold;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #searchicone{
        display: inline;
        background-color: #0065fc;
        border-radius: 20px 20px 20px 20px;
        font-size: 1em;
        font-weight: bold;
        color: white;
        height: 35px;
        width: 35px;
        padding: 15px;
    }

    #filters{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    #filtertitle{
        padding-bottom: 15px;
    }

    .filterborder{
        justify-content: left;
        margin-bottom: 10px;
    }
    
    #asideblock{
        width: 95%;
        padding: 10px;
        justify-content: center;
        float: none;
    }
    aside H2{
        font-size: 1em;
        padding-bottom: 20px;
    }
   
    .asideelement{
        margin: auto;
        padding: 10px;
        margin-bottom: 10px;
    }
    .asideelementdescription{
        font-size: 0.7em;
        width: 45%;
        padding-left: 10px;
    }
    .asideelementtext1{
        max-width: 90%;
        padding-left: 5px;
    }
    .asideelementtext2{
        max-width: 90%;
        padding-left: 5px;
    }

    .stars{
        margin-top: 40%;
        padding-left: 5px;
    }
    
    section H2{
        font-size: 1.1em;
        padding-left: 15px;
    }

    #section1{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .undersection{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 0px;
    }

    .section1element{
        width: 330px;
    }

    .section1photo img{
        width: 330px;
        height: 150px;
    }

    #section2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 340px;
    }

    .section2element{
        width: 330px;
    }

    .section2photoa img{
        width: 330px;
    }

    .section2elementdescription{
        width: 330px;
        height: 50px;
    }

    .section2column{
        width: 330px;
    }

    .section2element2{
        width: 330px;
    }

    .section2photob img{
        width: 330px;
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 25px 0 0 0;
    }

    footer ul{
        font-size: 0.9em;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px)
{
    body{
        width: 100%;
    }

    #header{
        width: 100%;
    }
    nav{
        margin-right: 10%;
    }
    nav a{
        padding-right: 10px;
    }

    section{
        width: 100%;
    }

    #filters{
        font-size: 0.9em;
        justify-content: space-between;
        width: 100%;
    }

    .filterborder{
        width: 20%;
    }

    aside{
        padding: 10px;
    }
    #asideblock{
        width: 80%;
        justify-content: center;
        float: none;
        margin-bottom: 15px;
        padding-left: 15%;
    }
    .asideelement{
        width: 70%;
        height: 200px;
    }

    .asidephoto img{
        height: 200px;
    }

    .asideelementdescription{
        width: 45%;
    }

    .stars{
        margin-top: 30%;
    }

    #section1{
        width: 90%;
        margin: 10px;
    }
    #anchorsection1{
        padding-left: 10px;
    }

    .section1photo img{
        width: 205px;
    }

    #section2{
        flex-wrap: wrap;
        width: 100%;
        justify-content: none;
    }
    #anchorsection2{
        padding-left: 20px;
    }
    .section2element{
        width: 300px;
        margin-left: 45px;
    }

    .section2column{
        margin-right: 45px;
    }

    footer{
        width: 100%;
        padding-top: 30px;
    }

    .footertitle{
        margin-right: 10%;
        font-size: 0.9em;
    }

    .footerelement{
        margin-right: 5%;
        font-size: 0.8em;
    }
}

@media all and (min-width: 1024px) and (max-width: 1024px)
{
    body{
        width: 100%;
        margin: 5px;
    }
    #filters{
        width: auto;
    }
    
    #asideblock{
        width: 33%;
        float: right;
        padding-bottom: 15px;
    }

    .asideelementdescription{
        width: 45%;
    }

    .asideelementtext1{
        font-size: 0.8em;
    }

    .asideelementtext2{
        font-size: 0.6em;
    }

    .stars{
        margin-top: 30%;
    }

    #section1{
        width: 60%;
        margin: 10px;
    }
    #anchorsection1{
        padding-left: 10px;
    }

    .undersection{
        padding-bottom: 20px;
    }

    .section1photo img{
        width: 165px;
    }

    .section1elementtext1{
        font-size: 0.9em;
    }
    #section2{
        width: 95%;
        flex-direction: row;
    }
    #anchorsection2{
        padding-left: 20px;
    }
    .section2element{
        width: 200px;
    }

    .section2photoa img{
        width: 200px;
        height: 300px;
    }

    .section2element2{
        width: 200px;
    }

    .section2photob img{
        width: 200px;
        height: 110px;
    }

    .section2column{
        width: 200px;
    }

    .section2elementdescription{
        width: 200px;
        font-size: 0.8em;
    }

    .footerelement{
        margin-right: 10%;
    }

}

@media all and (min-width: 1920px) and (max-width: 2559px)
{
    header{
        margin: 60px 60px 0px 60px;
    }
    
    #reservialogo{
        height: 250px;
        width: 250px;
    }

    nav{
        font-size: 2em;
        padding-top: 80px;
    }
    
    section H1{
        font-size: 1.5em;
    }
    
    #sectionheaderundertitle{
        font-size: 1em;
    }
    
    #find{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
    }
        
    #findleft{
        background-color: #F2F2F2;
        border-radius: 20px 0px 0px 20px;
        width: 60px;
        height: 60px;
        text-align: center;
        padding-top: 20px;
    }
        
    #findcenter{
        border-top: 1px #F2F2F2 solid;
        border-bottom: 1px #F2F2F2 solid;
        width: 15%;
    }
        
    #city{
        border: white;
        margin: 25px;
        font-size: 0.8em;
    }
        
    #searching{
        border: #0065fc;
        background-color: #0065fc;
        border-radius: 0px 20px 20px 0px;
        font-size: 1.5em;
        font-weight: bold;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #filters{
        width: 80%;
        font-size: 1.1em;
        margin-bottom: 35px;
    }

    #info{
        margin-bottom: 35px;
    }

    section{
        margin: 0px 60px 60px 60px;
    }
    
    section header{
        font-size: 1.5em;
    }
    
    section a{
        font-size: 1.2em;
    }

    #asideblock{
        width: 30%;
        padding: 20px 20px 20px 20px;
    }
    
    aside H2{
        font-size: 2em;
    }
    
    .asideelement{
        margin: 20px;
        height: 200px;
    }
    
    .asidephoto img{
        height: 200px;
    }
        
    .asideelementdescription{
        width: 40%;
        padding-left: 5px;
    }
    .asideelementtext1{
        font-size: 1em;
        max-width: 90%;
    }
    .asideelementtext2{
        font-size: 0.9em;
        max-width: 90%;
        padding-left: 5px;
    }
    .stars{
        margin-top: 5%;
        padding-left: 5px;
    }

    #anchorsection1{
        margin-left: 5%;
    }

    #section1 H2{
        font-size: 2.5em;
    }

    #section1{
        width: 65%;
    }

    .undersection{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .section1element{
        width: 30%;
        height: 265px;
        margin: 15px;
    }

    .section1photo img{
        width: 100%;
        height: 190px;
    }

    .section2elementdescription{
        height: 50px;
    }

    .section1bottom{
        font-size: 2em;
        padding-top: 0px;
        margin-left: 35px;
        margin-bottom: 35px;
    }

    #anchorsection2{
        margin-left: 8%;
        font-size: 2.5em;
        margin-top: 35px;
    }

    #section2{
        width: 100%;
        justify-content: space-around;
    }

    .section2element{
        width: 390px;
    }

    .section2photoa img{
        width: 390px;
        height: 580px;
    }

    .section2element2{
        width: 390px;
    }

    .section2photob img{
        width: 390px;
        height: 250px;
    }

    #section2elementdescription{
        font-size: 1.2em;
    }

    footer{
        padding: 40px;
        font-size: 1.5em;
    }
}    

@media all and (min-width: 2560px)
{
    body{
        max-width: 2560px;
        margin: auto;
    }
    header{
    margin: 60px 60px 0px 60px;
    }

    #reservialogo{
        height: 250px;
        width: 250px;
    }
    nav{
    font-size: 2em;
    padding-top: 80px;
    }

    section H1{
        font-size: 2.5em;
    }

    #sectionheaderundertitle{
        font-size: 1.5em;
    }

    #find{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #findleft{
        background-color: #F2F2F2;
        border-radius: 20px 0px 0px 20px;
        width: 70px;
        height: 70px;
        text-align: center;
        padding-top: 30px;
    }
    
    #findcenter{
        border-top: 1px #F2F2F2 solid;
        border-bottom: 1px #F2F2F2 solid;
        width: 15%;
    }
    
    #city{
        border: white;
        margin: 30px;
        font-size: 1em;
    }
    
    #searching{
        background-color: #0065fc;
        border-radius: 0px 20px 20px 0px;
        font-size: 2em;
        font-weight: bold;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
    }

    #filters{
        width: 80%;
        font-size: 1.1em;
    }
    section{
        margin: 0px 60px 60px 60px;
    }

    section header{
        font-size: 1.5em;
    }

    section a{
        font-size: 1.2em;
    }
    #asideblock{
        width: 30%;
        padding: 25px 25px 25px 25px;
    }

    aside H2{
        font-size: 2em;
    }

    .asideelement{
        margin: 25px;
        height: 220px;
    }

    .asidephoto img{
        height: 220px;
    }
    
    .asideelementdescription{
        width: 45%;
        padding-left: 10px;
    }
    .asideelementtext1{
        font-size: 1.3em;
        max-width: 90%;
        padding-left: 5px;
    }
    .asideelementtext2{
        font-size: 1.2em;
        max-width: 90%;
        padding-left: 5px;
    }
    .stars{
        margin-top: 15%;
        padding-left: 5px;
    }

    #anchorsection1{
        margin-left: 5%;
    }

    #section1 H2{
        font-size: 2.5em;
    }

    #section1{
        width: 65%;
    }
    .undersection{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .section1element{
        width: 30%;
        margin: 15px;
    }

    .section1photo img{
        width: 470px;
        height: 250px;
    }

    .section1bottom{
        font-size: 2em;
        padding-top: 0px;
        margin-left: 35px;
        margin-bottom: 35px;
    }

    #anchorsection2{
        margin-left: 8%;
        font-size: 2.5em;
        margin-top: 55px;
    }
  
    #section2{
        width: 100%;
        justify-content: center;
        margin-top: 25px;
    }

    .section2element{
        width: 500px;
        margin: 0 45px 0 45px;
        padding: 10px;
    }

    .section2photoa img{
        width: 500px;
        height: 770px;
    }

    .section2column{
        width: 500px;
        margin: 0 45px 0 45px;
    }

    .section2element2{
        width: 500px;
        padding: 10px;
    }

    .section2photob img{
        width: 500px;
        height: 350px;
    }

    #section2elementdescription{
        font-size: 1.2em;
    }

    footer{
        padding: 40px;
        font-size: 2em;
    }
}
