@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Regular.ttf');
}
body{
    font-family: 'Raleway', Helvetica, sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#reservialogo{
    float: left;
}
nav {
    display: flex;
    width: 33%;
    justify-content: space-between;
    padding: 20px;
}

nav a{
    color: black;
    text-decoration: none; 
}

nav a:hover{
    border-top: 2px #0065fc solid;
    color: #0065fc;
    padding-top: 16px;

}

#headright{
    color: #0065fc;
    font-weight: bold;
}

section{
    padding: 20px;
}

.figurine{
    height: 20px;
    width: 20px;  
}
#trouvez{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
#pin{
    height: 20px;
    width: 25px;
}

#trouvezgauche{
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    width: 35px;
    text-align: center;
}
#trouvezcentre{
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
}

#ville{
    border: white;
}
#trouvezdroite{
    border: #0065fc;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    text-align: justify;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}
#rechercher{
    border: #0065fc;
    background-color: #0065fc;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
#trouvezdroitecourt{
    border: #0065fc;
    background-color: #0065fc;
    border-radius: 0px 20px 20px 0px;
    text-align: justify;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}
.fas_fa-search{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-image: url("fas fa-search");
}

#filtres{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    width: 70%;
}
.bordurefiltre:hover{
    color: #0065fc;
    font-style: italic;
}
.bordurefiltre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px #F2F2F2 solid;
    border-right: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    border-radius: 50px;
    padding-right: 20px;
}

.bordurefiltre i{
    color: #0065fc;
}
#eco{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding-left: 20px;
    padding-right: 20px;
}

#familial{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding-left: 20px;
    padding-right: 20px;
}

#romantique{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding-left: 20px;
    padding-right: 20px;
}

#animaux{
    border-radius: 50%;
    background-color: #DEEBFF;
    padding-left: 20px;
    padding-right: 20px;
}

.infologo{
    height: 20px;
    width: 20px;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
}
#populaires{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    float: right;
    width: 33%;
}
#populaireshaut{
    margin-left: 15px;
    margin-right: 15px;
}

#populaireshaut i{
    float: right;
}
#fleche{
    float: right;
    height: 20px;
    width: 20px;
}
.pop{
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    margin: 5px;  
    padding: 5px; 
    height: 150px;
}

.hotelpop_description{
    float: right;
    font-size: 1.1em;
}
 .hotelpop_description i{
     margin-bottom: 0%;
 }
#hotelpop1{
    background: url('photos/hotellesoleildumatin.jpg') no-repeat;
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 150px;
    float: left;
}

#hotelpop2{
    background: url('photos/aucoeurdeleau.jpg') no-repeat;
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 150px;
}
#hotelpop3{
    background: url('photos/hoteltoutbleuettoutblanc.jpg') no-repeat;
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 150px;
}

.hotelpoptext1{
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.hotelpoptext2{
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}


#section1{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
    padding: 15px 10px 10px 10px;
    justify-content: space-around;
}
.undersection{
    display: flex;
}

.undersection a{
    text-decoration: none;
}
.hotels{
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 5px;  
    padding: 5px;
    width: 33%;
}
#hotel1{
    background: url('photos/aubergelacannebiere.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel2{
    background: url('photos/hotelduport.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel3{
    background: url('photos/hotellesmouettes.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel4{
    background: url('photos/HOTELMAX4.jpg') no-repeat;

    border-radius: 20px 20px 0 0;
}
#hotel5{
    background: url('photos/aubergelepanier.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}
#hotel6{
    background: url('photos/hotelchezamina.jpg') no-repeat;
    height: 140px;
    border-radius: 20px 20px 0 0;
}

.hotel_description{
    height: 70px;
    text-decoration: none;
}

.hoteltext1{
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.hoteltext2{
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}

.gras{
    font-weight: bold;
    padding-bottom: 15px;
}

#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#section2 a{
    text-decoration: none;
}

.actis{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #F2F2F2;
    margin-bottom: 30px;

}
#acti1{
    background: url('photos/vieuxport.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 410px;
}
.acti_description{
    height: 40px;
    width: 300px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.section2colonne{
    display: flex;
    flex-direction: column; 
    
}
#acti2{
    background: url('photos/fortdepomegues.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 200px;
    width: 300px;
}
#acti3{
    background: url('photos/iledufrioul.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 140px;
    width: 300px;
}
#acti4{
    background: url('photos/calanques.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 410px;
}
#acti5{
    background: url('photos/notredamedelagarde.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 170px;
    width: 300px;
}
#acti6{
    background: url('photos/parclongchamps.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
    height: 170px;
    width: 300px;
}
footer{
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 10%;
}
footer ul{
    list-style-type: none;

}

footer li{
    margin-left: 0;
}
@media all and (max-device-width: 480px)
{
    body{
        width: auto;
        margin: auto;
    }

    section{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #filtres{
        flex-direction: column;
        width: auto;
    }
    .bordurefiltre{
        justify-content: left;
        margin-bottom: 10px;
    }
    
    #populaires{
        width: 100%;
        padding: 10px;
        margin: auto;
    }
    #populaireshaut{
        text-align: left;
    }
    .pop{
        margin: auto;
        padding: 10px;
        margin-bottom: 10px;
    }
    #hotelpop1{
        float: left;
    }
    #section1{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    
    }
    .undersection{
        display: flex;
        flex-direction: column;
        width: 100%;
    
    }
    .hotels{
        width: auto;
        padding: 10px;
    }

    #hotel1{
        background: url('photos/HOTEL1.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel2{
        background: url('photos/HOTEL2.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel3{
        background: url('photos/HOTEL3.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel4{
        background: url('photos/HOTEL4.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel5{
        background: url('photos/HOTEL5.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #hotel6{
        background: url('photos/HOTEL6.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
    }

    #section2{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .section2colonne{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .actis{
        width: auto;
        padding: 10px;
    }

    #acti1{
        background: url('photos/ACTI1.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        height: 200px;
    }

    #acti2{
        background: url('photos/ACTI2.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    #acti3{
        background: url('photos/ACTI3.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    #acti4{
        background: url('photos/ACTI4.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        height: 200px;
    }

    #acti5{
        background: url('photos/ACTI5.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    #acti6{
        background: url('photos/ACTI6.jpg') no-repeat;
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    footer{
        display: flex;
        flex-direction: column
    }
}
@media all and (min-device-width: 481px) and (max-device-width: 1024px)
{
    nav{
        justify-content: space-around;
    }
    #populaires{
        width: 100%;
    }

    #section1{
        width: 100%;
    }
    #section2{
        flex-wrap: wrap;
        width: auto;

    }
    .actis{
        width: auto;
    }
}

@media all and (min-device-width: 1919px) 
{
#hotel1{
    background: url('photos/HOTEL1.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
}

#hotel2{
    background: url('photos/HOTEL2.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
}

#hotel3{
    background: url('photos/HOTEL3.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
}

#hotel4{
    background: url('photos/HOTEL4.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
}

#hotel5{
    background: url('photos/HOTEL5.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
}

#hotel6{
    background: url('photos/HOTEL6.jpg') no-repeat;
    border-radius: 20px 20px 0 0;
}
}